/* TODO */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color:  #fff ; 
    max-width: 1800px;
    margin: 0 auto;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.19' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.main {
    padding: 20px;
}

/* TITULO */

.titulo {
    background-color:  #cecdeb ;
    text-align: center;
    padding: 50px;
    border-radius: 7px;
    font-family: 'Alfa Slab One', cursive;
}

h1 {
    font-size: 80px;
}

.titulo:hover {
    transform: scale(1.1);
}


/* MENU */

.menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 32px;
}

.menu a:hover {
    border-bottom: 1px solid #000;
    color: #7a7772;
}

nav ul li a {
    color: #000;
}

nav ul li {
    text-align: center;
    display: inline-block;
    padding: 33px;
    font-size: 30px;
}

ul {
    list-style: none;
    text-align: center;
}

hr {
    border: solid 1px #000;
}

/* PRODUCTOS */

.contenedorProductos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.producto {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.producto:hover {
    transform: scale(1); /* scale (1.1) */
}

.tituloPrecio {
    padding: 20px;
    font-size: 20px;
}

.productoTitulo {
    text-align: center;
}

.productoPrecio {
    color: #ff4e00;
    font-weight: bold;
}

/* IMAGEN PRODUCTO */

.producto img {
    width: 360px;
    height: 500px;
    object-fit: cover;
}

.producto img:hover {
    transform: scale(1.1);
}

/* PIE DE PAGINA 1 */

.envios a {
    text-decoration: none;
    color: #fff;
}

.envios {
    text-align: center;
    background-color: #000;
    font-size: 22px;
    padding: 10px;
    font-weight: bold;
    border-radius: 7px;
}

/* PIE DE PAGINA 2 */

.footer-2 a {
    text-decoration: none;
    color: #fff;
}

.footer-2 {
    background-color: #443b3d;
    color: #fff;
    height: 230px;
    padding: 0 52px;
    border-radius: 7px;
}

.footer-2 p {
    font-weight: bold;
}

.footer-2 i {
    padding: 5px;
    font-size: 28px;
}

.redesSociales {
    font-size: 14px;
    font-size: 1.4rem;
    display: inline-block;
    padding: 70px 52px;
    vertical-align: top;
    width: 455px;
}

.redesSociales a i:hover {
    transform: scale(1.3);
}

.politicas {
    font-size: 14px;
    font-size: 1.4rem;
    display: inline-block;
    padding: 70px 52px;
    vertical-align: top;
    width: 455px;
}

.tiendas {
    font-size: 14px;
    font-size: 1.4rem;
    display: inline-block;
    padding: 70px 52px;
    vertical-align: top;
    width: 455px;
}